.container{
	background-color: coral;
	height: 150px;
	width: 150px;
	position: relative;
}


.square{
	border : 2px black solid;
	height: 75px;
	width: 75px;
	display: block;
	position: absolute;


}

.red{
	background-color: red;
	top:0px;
	right:0px;
	position: absolute;


}

.blue{
	background-color: blue;
	top:25px;
	right :25px;
	position: absolute;

}

.green{
	background-color: green;
	top:50px;
    right:50px;
	position: absolute;


}

.orange{
	background-color: orange;
	top:75px;
	right:75px;
	position: absolute;

}

.black{
	background-color: 	black;
	top:100px;
	right:100px;
	position: absolute;

}
.purple{
	background-color: purple;
	top:125px;
	right:125px;
	position: absolute;

}

.pink{
	background-color: pink;
	top:150px;
	right:150px;
	position: absolute;
