body{
	font-family: 'Open Sans', sans-serif;
}

.todo{
	border-radius: 10px

}

.primero{
	height: 650px;
	width: 100pxpx;
	background: url(mujer1_si.jpg);
	background-size:cover;
	border-radius: 10px
}

.super_titulo{
	font-size: 25px;
	color: white;
	float:left;
	padding: 25px;

}

.div_parrafo{
	padding: 100px
}

.parrafo1{
	text-align: justify;
}
.primer_titulo{
	font-size: 55px;
	color: white;
	text-align: center;
	clear: both;
	font-weight: normal;
}

.meter{
	height: 25px;
	width: 300px;
}
.button{
	text-align: center
}

.lista{
	float: right;
}

input{
	border-radius: 5px;
}

.boton{
	background-color: #5CAC55;
	color:white;
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 25px;
}

h1{
	color: #5CAC55;
	font-weight: normal;
}

.menu{
	color: white;
	padding: 25px;

}

.primer_parrafo{
	text-align: center;
	color: white;
	margin: auto;
	width:450px;
}

.el_parrafo{
	color: white
}

.dos_cuadros{
	height: 300px;

}

.primer_cuadro{
	background: url(mujer2.jpg);
	background-size:cover;
	width:50%;
	float:left;
	height: 100%;
}

.segundo_cuadro{
	background-color: #5CAC55;
	width:50%;
	float:right;
	height: 100%;
}

.titulo_cuadro{
	text-align: center;
	color: white;


}

.parrafo2{
	color: white;
	margin: 50px;

}

.boton2{
	color: green;
	background-color: white;
	margin-left: 50px;
	margin-bottom: 30px;
	border:none;
	width: 100px;
	height: 25px;

}

.sponsors{
	height: 400px;
	background-color: white;
	text-align: center;

}

.titulo_sponsor{
	color: gray;

}